.main__colorsDiv {
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 0 -10px;
}
.main__colors {
    border: none;
    height: 11px;
    border-radius: 1px;
    width: 11px;
}
.main__colorsHover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin: 0 8px;
}
// ---------HOVER---------
.main__colorsHover:hover {
    outline: 1px solid #65994c;
}
