.DrawerOpen {
  cursor: pointer;
  > div {
    div {
      width: 40px;
      height: 3px;
      background-color: rgb(0, 0, 0);
      margin: 10px 0px;
      transition: background-color 0.5s;
    }
  }
}

.div1 {
  margin-left: 15px;
}

@media (min-width: 1120px) {
  .DrawerOpen {
    display: none;
  }
}

@media (max-width: 720px) {
  .DrawerOpen {
    cursor: pointer;
    > div > div {
      background-color: black;
      margin: 7px 0px;
      transition: background-color 0.5s;
    }
  }

  .div1 {
    margin-left: 5px;
  }
}
