$brown: #ab844a;
.NotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
    .white_logo {
        background-color: $brown;
        width: 416px;
        margin-top: 58px;
        height: 97px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 900px) {
            width: 13rem;
            height: 4rem;
        }
    }
    .img_404_div {
        display: flex;
        flex-direction: column;
        align-items: center;

        .digits {
            position: relative;
            top: 70px;
            :nth-child(2) {
                position: relative;
                z-index: 0;
            }
            img {
                position: relative;
                z-index: 2;
                margin: 0px 5px;
                @media screen and (max-width: 600px) {
                    width: 5rem;
                }
            }
        }
        .img_404 {
            width: 761px;
            height: 443px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            color: $brown;
            @media screen and (max-width: 900px) {
                width: 30rem;
                font-size: 25px;
            }
            @media screen and (max-width: 600px) {
                width: 20rem;
                font-size: 20px;
            }
        }
    }
}
